    .pmj{width: 50;
        color: rgb(0, 14, 14);
       text-align: left;
        background-color: rgb(26, 122, 151);
        font-size: 2em;
        font-family: sans-serif;
        font-style: italic;
        text-decoration: underline;
    }
  body{
      background-size: 100em;
  }