    .pmj{width: 50;
        color: rgb(0, 14, 14);
       text-align: left;
        background-color: rgb(26, 122, 151);
        font-size: 2em;
        font-family: sans-serif;
        font-style: italic;
        text-decoration: underline;
    }
    body{
        background-size: 96em;
        height: 51em;
    }
 .breadcrumb{
     font-size: 1.6em;
     color:#fff;
 }
.breadcrumb a:first-child{
    color: #82fcfd;
}
.breadcrumb a:first-child::before{
    content: ">>";
}
.breadcrumb a::after{
    content: "/";
    color: #ef6eae;
}
.breadcrumb a:last-child::after{
    content: "";
}
